body {
background: #ffcccc;
text-align: center;
font-family: Helvetica;
font-size:24px;
}

h1 {
border-style: solid;
border-width: 10px;
border-color: #CD5CDC;
}

center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

